<div class="navbar">
        <h1 class="brand">
          <img src="img/logo.png" alt="" />
          <span>Admin</span>Panel
        </h1>
        <nav>
          <ul>
            <li><a asp-controller="Kategori" asp-action="Index">Kategoriler</a></li>
            <li><a asp-controller="Product" asp-action="Index">Ürünler</a></li>
            <li><a asp-controller="Product" asp-action="Create">Ürün Ekle</a></li>
          </ul>
        </nav>
        <nav>
          <a href="#service" class="btn btn-primary">
            <i class="fa-solid fa-up-right-from-square"></i> Çıkış Yap
          </a>
        </nav>
      </div>