@model dotnet_pizza.Models.Product
     <div class="menu-item">
            <span class="item-name">@Model.ProductName</span>
            <span class="item-price">@Model.Price1 ₺</span>
          </div>