@model dotnet_pizza.Models.Product

<div class="burger-item">
    <img src="img/@Model.Image" alt="@Model.ProductName" />
    <h3>@Model.ProductName</h3>
    <p>@Model.Tanitim</p>
    <div class="burger-price">@Model.Price1 ₺</div>
</div>